.DS_Store
.m2/
.m2-docker/
artifacts/pit/history/
report/main.aux
report/main.log
report/main.out
report/main.fls
report/main.synctex.gz
report/main.fdb_latexmk
report/Makefile


TechTitans_Milestone4_report.pdf
